In [1]:
import pandas as pd

# Assuming "Autoware Contributors.xlsx" is in the same directory as your script
excel_file_path = "Autoware Contributors.xlsx"

# Read Excel file into a DataFrame
df_excel = pd.read_excel(excel_file_path)

# Display basic information about the DataFrame
print("Excel File Information:")
print(df_excel.info())

Excel File Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        178 non-null    object
 1   company     177 non-null    object
 2   user_id     167 non-null    object
 3   Unnamed: 3  68 non-null     object
 4   skills      155 non-null    object
dtypes: object(5)
memory usage: 8.0+ KB
None

In [2]:
# Display the first few rows of the DataFrame
print("\nFirst Few Rows:")
print(df_excel.head())

First Few Rows:
                name company        user_id           Unnamed: 3  \
0  Bonolo Mathibela*     AWF      BonoloAWF           @BonoloAWF
1          Haoru Xue     AWF       HaoruXue            @HaoruXue
2        Zhijie Qiao     AWF      QZJGeorge           @QZJGeorge
3                NaN     NaN            NaN                  NaN
4     Filipe Rinaldi     Arm  filiperinaldi  @filipe.rinaldi.arm

                                              skills
0                       Technical Project Management
1  C++, Python, Racing ODD, Control, Perception, ...
2  C++, Python, ROS2, Machine Learning, Embedded ...
3                                                NaN
4  Anything related to Arm IP and work planning f...

In [3]:
import pandas as pd

# Assuming "user_details_all.csv" is in the same directory as your script
csv_file_path = "user_details_all.csv"

# Read CSV file into a DataFrame
df_csv = pd.read_csv(csv_file_path)

# Display basic information about the DataFrame
print("CSV File Information:")
print(df_csv.info())

CSV File Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            484 non-null    object
 1   company            156 non-null    object
 2   email              104 non-null    object
 3   location           187 non-null    object
 4   social_media_link  485 non-null    object
 5   followers          485 non-null    int64
 6   followings         485 non-null    int64
 7   name               307 non-null    object
dtypes: int64(2), object(6)
memory usage: 30.4+ KB
None

In [4]:
# Display the first few rows of the DataFrame
print("\nFirst Few Rows:")
print(df_csv.head())

First Few Rows:
       user_id              company              email   location  \
0  mitsudome-r              TIER IV                NaN      Tokyo
1    xczhanjun           baidu usa   zhanjun@gmail.com  Sunnyvale
2        xmfcx  Autoware Foundation                NaN     Turkey
3  maxime-clem                  NaN                NaN        NaN
4   YamatoAndo                  NaN                NaN        NaN

                social_media_link  followers  followings                name
0  https://github.com/mitsudome-r         29           1  Ryohsuke Mitsudome
1    https://github.com/xczhanjun         32         105            Jun Zhan
2        https://github.com/xmfcx         29           3      M. Fatih Cırıt
3  https://github.com/maxime-clem          7           2      Maxime CLEMENT
4   https://github.com/YamatoAndo         11           0         Yamato Ando

In [5]:
# Concatenate DataFrames vertically
concatenated_df = pd.concat([df_excel, df_csv], ignore_index=True)

# Deduplicate based on 'pull_request_user_id'
deduplicated_df = concatenated_df.drop_duplicates(subset='user_id', keep='first')

# Save the deduplicated DataFrame to a new CSV file
deduplicated_df.to_csv('ur_all.csv', index=False)

# Display basic information about the deduplicated DataFrame
print("Deduplicated DataFrame info:")
print(deduplicated_df.info())

Deduplicated DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 0 to 685
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               384 non-null    object
 1   company            260 non-null    object
 2   user_id            545 non-null    object
 3   Unnamed: 3         58 non-null     object
 4   skills             146 non-null    object
 5   email              78 non-null     object
 6   location           131 non-null    object
 7   social_media_link  381 non-null    object
 8   followers          381 non-null    float64
 9   followings         381 non-null    float64
dtypes: float64(2), object(8)
memory usage: 46.9+ KB
None